source https://nuget.org/api/v2

framework: auto-detect

nuget Fable.Elmish.HMR
nuget FAKE
nuget FSharp.Core
nuget Fable.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger

clitool dotnet-fable
nuget Fulma

// TODO: remove
github fsharp/FAKE src/app/Fake.DotNet.Cli/DotNet.fs
nuget Newtonsoft.Json
//